<p>report-details works!</p>

<!-- <app-report
    *ngFor="let r of reports"
    [report]="r"
    (delete)="onReportDelete($event)"
></app-report> -->

<!-- <section *ngIf="report">
    <img *ngIf="report.picture" [src]="report.picture">
    <summary>
        <p><b>Witness: </b>{{ report.name }}</p>
        <p><b>Witness Phone Number: </b>{{ report.phoneNumber }}</p>
        <p><b>Baddie's Name: </b>{{ report.villain }}</p>
        <p><b>Location: </b>{{ report.location }}</p>
        <p>Added on: <span [textContent]="report.added_on | date"></span> <br></p>
        <p><b>Status: </b> {{ report.status?.() }} </p>
        <p><b>Extra Info:</b></p>
        <p>{{ report.info }}</p>
        <button (click)="goBack()">BACK</button> 
    </summary>    
</section> -->
